<header>
	<ul id='acc-menu1'>
		<%- Question.all.each do |question| %>
				<%= link_to question_path(question), method: :post, class: 'question', id: "question_#{question.id}", data: { :id => question.id } do %>
				  <span><%= question.question %></span>
				  <%= image_tag("image#{cycle("1","2")}.jpg") %>
			<% end %>
		<% end %>
	</ul>
	<div class="selectedQuestion">
		<h3 id="question">Loading...</h3>
		<p id="explanation">...</p>
	</div>
</header>
<section class="container">
	<!-- TODO: make this dynamic -->
	<div id="editor">'use strict';
	<%= @question.question_code %></div>

	<section class="execution">
		<article class="results box" id="expectedResult">
			The results must be: <span id="final_result">...</span>
		</article>
		<article class="results box" id="realResult">
		</article>
		<article id="exeWindow">
			<ul id="tipsOutput"></ul>
		</article>
		<article id="errorWindow"></article>
		<button class="box" id="btn-share" onclick="TogetherJS(this); return false;">Start TogetherJS</button>
		<button class="box" id="btn-tip" return false;>Wanna tips?</button>
	</section>
</section>
