<header>
	
</header>
<section class="container">
	<section class="execution">
		<section class="windows">
			<article id="exeWindow"></article>
			<article id="errorWindow"></article>
			<button id="btn-share" onclick="TogetherJS(this); return false;">Start TogetherJS</button>
			<input type="button" value="Execute Now!" id="btn-exe">
		</section>
	</section>

	<div id="editor">'use strict'
	</div>
</section>
